@model ProductListViewModel
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

@foreach (var item in Model.Products)
{
    <div>
        <h3>@item.Name</h3>
        <p>@item.Description</p>
        <h4>@item.Price.ToString("c")</h4>
    </div>
}
<div page-model="@Model.PagingInfo" page-action="List"></div>


